In [ ]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 52 kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619404 sha256=487afc4f5a12067971cfb658d826178cee6ca8f054973666b6de87582bd27364
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [ ]:
import numpy as np
import pandas as pd
from surprise import SVD, KNNBasic, Dataset, Reader
from surprise.model_selection import cross_validate

In [ ]:
users=[1,2,3,4,1,2,3,4]
movies=["starwars","Harrypotter","starwars","starwars","Harrypotter","Tomraider","Harrypotter","Tomraider"]
ratings=[1,3,4,2,3,4,1,1]

ratings_dict={'userID':users,
              'itemID':movies,
              'rating':ratings}

df=pd.DataFrame(ratings_dict)

In [ ]:
df

   userID       itemID  rating
0       1     starwars       1
1       2  Harrypotter       3
2       3     starwars       4
3       4     starwars       2
4       1  Harrypotter       3
5       2    Tomraider       4
6       3  Harrypotter       1
7       4    Tomraider       1

In [ ]:
reader=Reader(rating_scale=(1,5))
data=Dataset.load_from_df(df[['userID','itemID','rating']],reader)

In [ ]:
df[['userID','itemID','rating']]

   userID       itemID  rating
0       1     starwars       1
1       2  Harrypotter       3
2       3     starwars       4
3       4     starwars       2
4       1  Harrypotter       3
5       2    Tomraider       4
6       3  Harrypotter       1
7       4    Tomraider       1

In [ ]:
algo=SVD()

In [ ]:
cross_validate(algo,data, measures=['rmse','mae'],cv=5,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.6113  1.3363  1.6232  0.9359  1.6116  1.4236  0.2668
MAE (testset)     1.6024  1.2097  1.5297  0.9359  1.6116  1.3779  0.2652
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{'fit_time': (0.0010380744934082031,
  0.0005743503570556641,
  0.0008108615875244141,
  0.001035451889038086,
  0.0008575916290283203),
 'test_mae': array([1.60242943, 1.20969513, 1.52970114, 0.9359409 , 1.61157587]),
 'test_rmse': array([1.61125503, 1.33626932, 1.62317474, 0.9359409 , 1.61157587]),
 'test_time': (9.250640869140625e-05,
  2.765655517578125e-05,
  4.3392181396484375e-05,
  0.00024390220642089844,
  7.891654968261719e-05)}

In [ ]:
print(algo.predict(1,'starwars'))
print(algo.predict(2,'starwars'))
print(algo.predict(3,'starwars'))
print(algo.predict(4,'starwars'))

user: 1          item: starwars   r_ui = None   est = 2.61   {'was_impossible': False}
user: 2          item: starwars   r_ui = None   est = 2.70   {'was_impossible': False}
user: 3          item: starwars   r_ui = None   est = 2.88   {'was_impossible': False}
user: 4          item: starwars   r_ui = None   est = 2.42   {'was_impossible': False}

In [ ]:
print(algo.predict(4,'Harrypotter'))

user: 4          item: Harrypotter r_ui = None   est = 2.38   {'was_impossible': False}

In [ ]:
print(algo.predict(4,'Tomraider'))

user: 4          item: Tomraider  r_ui = None   est = 2.02   {'was_impossible': False}

In [ ]:
#working with Jester_1_1 dataset: Data from 24,983 users who have rated 36 or more jokes, a matrix with dimensions 24983 X 101
#http://eigentaste.berkeley.edu/dataset/